<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="profile.css">
    <title>Finance Tracker</title>
</head>
<body>
        <div class="functionality-credit">
            <h1 class="credit-title">У вас наявно 2 кредити: </h1>
        <div class="center-vertically">
            <div class="credit-details">
                <div class="credit-expiry">
                    <p class="expiry-date-legit">24.06.2023</p>
                </div>
                <div class="credit-description">
                    <p class="procents">1%</p>
                    <p class="description-text">Опис кредиту</p>
                </div>
            </div>
        </div>
        <div class="center-vertically">
            <div class="credit-details">
                <div class="credit-expiry">
                    <p class="expiry-date-notlegit">13.04.2023</p>
                </div>
                <div class="credit-description">
                    <p class="procents">0.4%</p>
                    <p class="description-text">Опис кредиту</p>
                </div>
            </div>
        </div>
            
        <h2 class="functionality-title-credit">Оберіть кредит</h2>
        <div class="card-container">
            <div class="card">
                <h3>MeowCredit</h3>
                <p>1%</p>
                <button>Оформити</button>
            </div>
            <div class="card">
                <h3>HedgMoney</h3>
                <p>0.5%</p>
                <button>Оформити</button>
            </div>
        </div>
        <div class="card-container">
            <div class="card">
                <h3>NeObman.ru</h3>
                <p>0.4%</p>
                <button>Оформити</button>
            </div>
            <div class="card">
                <h3>SomeCash</h3>
                <p>0.6%</p>
                <button>Оформити</button>
            </div>
            
        </div>
        <button class="to-main-button" onclick="window.location.href='../index.html';">Повернутися на головну</button>
        
    </div>
</body>
</html>
