<!DOCTYPE html>
<html lang="en" style="height: 100%;">

<head>
    <link rel="stylesheet" type="text/css" href="profile.css">
    <title>Finance Tracker</title>
</head>

<body>
    <div class="functionality-credit" class="creditfunc">
        <h2 class="functionality-title-credit">Оберіть депозит</h2>
        <div class="card-container">
            <div class="card">
                <h3>MeowCredit</h3>
                <p>1%</p>
                <button>Оформити</button>
            </div>
            <div class="card">
                <h3>HedgMoney</h3>
                <p>0.5%</p>
                <button>Оформити</button>
            </div>
            </div>
            <div class="card-container">
                <div class="card">
                    <h3>NeObman.ru</h3>
                    <p>0.4%</p>
                    <button>Оформити</button>
                </div>
                <div class="card">
                    <h3>SomeCash</h3>
                    <p>0.6%</p>
                    <button>Оформити</button>
                </div>
        </div>
        <button class="to-main-button" onclick="window.location.href='../index.html';">Повернутися на головну</button>
    </div>
</body>

</html>