body {
    background-image: linear-gradient(315deg, #485461 0%, #28313b 74%);
    font-family: 'Instrument Sans', sans-serif;
}

.container {
    display: flex;
    justify-content: space-between;
    padding-left: 3rem;
        
}

.greeting {
    color: white;
    font-family: 'Instrument Sans', sans-serif;
}

.balance {
    padding-bottom: 2rem;
    font-family: 'Instrument Sans', sans-serif;
    color: gray;
}




.stats {
    flex: 1;
    max-width: 550px;
    min-width: 400px;
}

#chart_div {
    width: 55%;
    height: 550px;
    margin-top: 30px;
}

.chart-buttons {
    display: flex;
    justify-content: center;
    
}





@media only screen and (max-width: 1000px) {
    .container {
        flex-direction: column;
        padding-left: 1rem;
    }

    #chart_div {
        margin-top: 10px;
        height: 400px;
        width: 100%;
    }
}

#line_chart_year,
#line_chart_quarter,
#line_chart_week {
    font-family: 'Instrument Sans', sans-serif;
       background: transparent;
        border: 1px solid white;
        border-radius: 4px;
        color: white;
        margin-left: 8px;
        padding: 6px 20px;
        cursor: pointer;
}

#line_chart_year:hover,
#line_chart_quarter:hover,
#line_chart_week:hover {
    box-shadow: 0px 8px 8px rgba(0, 0, 0, 0.2);
    transform: translateY(-1px);
}

.hidden {
    display: none;
    padding-top: 10px;
}

.input-field {
    padding: 7px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
    outline: none;
    margin-bottom: 5px;
    transition: border-color 0.3s ease;
}

.input-field:focus {
    border-color: #6c63ff;
}

.error-message {
    color: red;
    font-size: 15px;
    margin-top: 10px;
}


.transaction {
    border: 1px solid white;
    border-radius: 4px;
    padding: 10px;
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
    position: relative;
    transition: box-shadow 0.3s ease, transform 0.3s ease;
    font-family: 'Instrument Sans', sans-serif; 
}


.transaction:hover {
    box-shadow: 0px 8px 8px rgba(0, 0, 0, 0.2);
    transform: translateY(-1px);
}

.transaction .date {
    font-size: 13px;
    color: gray;
}

.transaction .amount-income,
.transaction .amount-outcome {
    margin-left: 10px;
    font-weight: bold;
    font-size: 24px;
    white-space: nowrap;
}

.transaction .description {
    font-size: 20px;
    color: white;
    transition: opacity 0.3s ease;
    margin-bottom: 0px;
}


.amount-income {
    color: lightgreen;
}

.amount-outcome {
    color: lightcoral;
}


.button-container {
    position: relative;
}



.show-more, .to-main-button {
    padding: 15px;
    font-size: 16px;
    background-color: transparent;
    border: none;
    color: white;
    cursor: pointer;
    outline: none;
}
.show-more {
    display: block;
    width: 100%;
}

.to-main-button {
    width: 50%;
}

.show-more:hover,
.to-main-button:hover {
    background-color: rgba(255, 255, 255, 0.2);
}

.functionality {
    text-align: center;
}

.functionality-title {
    font-size: 24px;
    margin-bottom: 20px;
    margin-top: 30px;
    color: white;
    font-family: 'Instrument Sans', sans-serif;
}
.transaction .info-container {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.card-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}
.card {
    width: 300px;
    border-radius: 5px;
    border: 1px solid white;
    padding: 30px;
    margin: 0 20px;
    text-align: center;
    font-family: 'Instrument Sans', sans-serif;
}

.card:hover {
    box-shadow: 0px 8px 8px rgba(0, 0, 0, 0.2);
    transform: translateY(-1px);
}


.card h3 {
    font-size: 18px;
    color: white;
}

.card p {
    margin-bottom: 20px;
    color: white;
}

.card button {
    padding: 8px 16px;
}

.functionality-credit {
    text-align: center;
    padding-top: 4rem;
    font-family: 'Instrument Sans', sans-serif;
}

.functionality-title-credit{
    color: white;
    padding-bottom: 20px;
    font-family: 'Instrument Sans', sans-serif;
}

.to-main-button{
    margin-top: 3rem;
}